<button class="btn btn-primary" (click)="addModalIsOpen = true">
    <!-- <cds-icon shape="home"></cds-icon> -->
    Add
</button>

<clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'supplier'">Supplier</clr-dg-column>
    <clr-dg-column [clrDgField]="'baseCost'">Base Cost</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>

    <clr-dg-placeholder>We couldn't find any materials!</clr-dg-placeholder>

    <clr-dg-row *clrDgItems="let material of materials" [clrDgItem]="material">
        <!-- <clr-dg-cell>{{user.id}}</clr-dg-cell> -->
        <clr-dg-cell>{{material.name}}</clr-dg-cell>
        <clr-dg-cell>{{material.supplier}}</clr-dg-cell>
        <clr-dg-cell>{{material.baseCost }}</clr-dg-cell>
        <clr-dg-cell>{{material.description }}</clr-dg-cell>
        <!-- <clr-dg-cell>
        <span class="color-square" [style.backgroundColor]="user.color">{{user.color}}</span>
      </clr-dg-cell> -->
    </clr-dg-row>

    <clr-dg-detail *clrIfDetail="let detail">
        <clr-dg-detail-header>{{detail.name}}</clr-dg-detail-header>
        <app-material-editor [material]="detail" (save)="onSave($event)"></app-material-editor>
        <br />
        <app-user-defined-form-data-display [data]="detail" [formDef]="formDef"
            [nestedDisplayField]="nestedDisplayField"></app-user-defined-form-data-display>
    </clr-dg-detail>

    <clr-dg-footer>{{materials.length}} users</clr-dg-footer>
</clr-datagrid>



<!--  Add Modal -->
<clr-modal [(clrModalOpen)]="addModalIsOpen">
    <h3 class="modal-title">Add Material</h3>
    <div class="modal-body">
        <app-material-editor (save)="addMaterial($event)"></app-material-editor>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="addModalIsOpen = false">Cancel</button>
        <!-- <button type="button" class="btn btn-primary" (click)="isOpen = false">Add</button> -->
    </div>
</clr-modal>
