<button class="btn btn-primary" (click)="addModalIsOpen = true">
    <cds-icon shape="plus"></cds-icon>
    Add
</button>

<clr-datagrid style="height:80vh" (clrDgRefresh)="gridHandler.refresh($event)" [clrDgLoading]="gridHandler.loading" [(clrDgSelected)]="selected">
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
    <clr-dg-column [clrDgField]="'hours'">Time (hours)</clr-dg-column>

    <clr-dg-placeholder>We couldn't find any processes!</clr-dg-placeholder>

    <clr-dg-row *ngFor="let process of state.process.value" [clrDgItem]="process">
        <!-- <clr-dg-cell>{{user.id}}</clr-dg-cell> -->
        <clr-dg-cell>{{process.value.name}}</clr-dg-cell>
        <clr-dg-cell>{{process.value.description }}</clr-dg-cell>
        <clr-dg-cell>{{process.value.hours }}</clr-dg-cell>
        <!-- <clr-dg-cell>
        <span class="color-square" [style.backgroundColor]="user.color">{{user.color}}</span>
      </clr-dg-cell> -->
    </clr-dg-row>

    <clr-dg-detail *clrIfDetail="let detail">
        <clr-dg-detail-header>{{detail.name}}</clr-dg-detail-header>
        <app-process-editor [process]="detail.value" (save)="gridHandler.onSave($event)"></app-process-editor>
        <br />
        <app-user-defined-form-data-display [data]="detail.value" [formDef]="formDef"
            [nestedDisplayField]="nestedDisplayField"></app-user-defined-form-data-display>
    </clr-dg-detail>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="2" [clrDgTotalItems]="gridHandler.total">
          <clr-dg-page-size [clrPageSizeOptions]="[1,2,5,10]">Process per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
      </clr-dg-footer>
</clr-datagrid>


 <!-- TODO: Remove after testing -->
<!-- <app-object-grid-editor></app-object-grid-editor> -->
<!-- <app-process-control></app-process-control> -->


<!--  Add Modal -->
<clr-modal [(clrModalOpen)]="addModalIsOpen">
    <h3 class="modal-title">Add Process</h3>
    <div class="modal-body">
        <app-process-editor (save)="addProcess($event)"></app-process-editor>
    </div>
</clr-modal>
