<!-- <router-outlet></router-outlet> -->


<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <a href="javascript:void(0)">
                <cds-icon shape="factory"></cds-icon>
                <span class="title">Production Suite</span>
            </a>
        </div>
        <div class="header-nav">
            <a routerLink="materials" class="nav-link nav-icon">
                <cds-icon shape="objects"></cds-icon>
            </a>
            <a routerLink="processes" class="nav-link nav-icon">
              <cds-icon shape="file-settings"></cds-icon>
            </a>
            <a routerLink="products" class="active nav-link nav-icon">
                <cds-icon shape="list"></cds-icon>
            </a>
            <a routerLink="customers" class="active nav-link nav-icon">
                <cds-icon shape="users"></cds-icon>
            </a>
        </div>
    </header>

    <!-- <nav class="subnav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="javascript://">Subnav Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript://">Subnav Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript://">Subnav Link 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript://">Subnav Link 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript://">Subnav Link 5</a>
        </li>
      </ul>
    </nav> -->

    <div class="content-container" fxLayout="row">

        <!-- Router Outlet -->
        <div class="content-area" fxFlex="80">
            <router-outlet></router-outlet>
        </div>
        <div class="resource-drawer" fxFlex="20" style="z-index: 2000; background-color:white">
          <app-resource-drawer></app-resource-drawer>
        </div>

        <!-- <nav class="sidenav">
        <section class="sidenav-content">
          <section class="nav-group">
            <input id="tabexample2" type="checkbox" />
            <label for="tabexample2">Sidenav</label>
            <ul class="nav-list">
              <li><a class="nav-link">Link 1</a></li>
              <li><a class="nav-link">Link 2</a></li>
              <li><a class="nav-link active">Link 3</a></li>
              <li><a class="nav-link">Link 4</a></li>
              <li><a class="nav-link">Link 5</a></li>
              <li><a class="nav-link">Link 6</a></li>
            </ul>
          </section>
        </section>
      </nav> -->

    </div>
</div>
