<div>
    <form [formGroup]="form">
        <clr-input-container>
            <label>Name</label>
            <input clrInput type="text" formControlName="name" />
            <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
            <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>Description</label>
            <input clrInput type="text" formControlName="description" />
            <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
            <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>Category</label>
            <input clrInput type="text" formControlName="category" />
            <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
            <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>Base Cost (per unit)</label>
            <input clrInput type="number" formControlName="baseCost" />
            <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
            <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>Supplier</label>
            <input clrInput type="text" formControlName="supplier" />
            <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
            <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>Supplier Item Url</label>
            <input clrInput type="text" formControlName="supplierItemUrl" />
            <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
            <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
        </clr-input-container>

        <app-master-detail-control formControlName="options" [innerForm]="formDef">
            <ng-template let-item named-template="MaterialOptions">
                    <div  fxLayout="column" fxLayoutAlign="space-between start">
                        <!-- <div class="key-display">{{ item?.value?.key || ' ' }}{{ item?.value?.required ? '*' : '' }}</div> -->
                        <div class="type-display">{{ item?.value?.name || ' ' }}</div>
                    </div>
                    <div class="icon">
                    </div>
                    <clr-tooltip>
                        <cds-icon *ngIf="!item.valid" status="danger" size="lg" solid shape="error-standard" clrTooltipTrigger (click)="alertErrors(item)"></cds-icon>
                        <span class="tooltip-content">{{ item.valid }} - {{ item.invalid }} - {{ item.errors }}</span>
                    </clr-tooltip>
            </ng-template>

            <ng-template let-item named-template="SelectionsInnerForm">
                <div  fxLayout="column" fxLayoutAlign="space-between start">
                    <div class="type-display">{{ item?.value?.display || ' ' }}</div>
                    <div>+ {{ item?.value?.priceAdjustment | currency }}</div>
                </div>
                <div class="icon">
                </div>
                <clr-tooltip>
                    <cds-icon *ngIf="!item.valid" status="danger" size="lg" solid shape="error-standard" clrTooltipTrigger (click)="alertErrors(item)"></cds-icon>
                    <span class="tooltip-content">{{ item.valid }} - {{ item.invalid }} - {{ item.errors }}</span>
                </clr-tooltip>
            </ng-template>

        </app-master-detail-control>

    </form>
</div>

<button (click)="print()">Print</button>
