<button class="btn btn-primary" (click)="addModalIsOpen = true">
    <cds-icon shape="plus"></cds-icon>
    Add
</button>

<clr-datagrid style="height: 80vh" (clrDgRefresh)="gridHandler.refresh($event)" [clrDgLoading]="gridHandler.loading"
    [(clrDgSelected)]="selected" *ngIf="formDef">
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>

    <clr-dg-placeholder>We couldn't find any customers!</clr-dg-placeholder>

    <clr-dg-row *ngFor="let customer of customers;trackBy: trackBy" [clrDgItem]="customer">
        <!-- <clr-dg-cell>{{user.id}}</clr-dg-cell> -->
        <clr-dg-cell>{{customer.name}}</clr-dg-cell>
        <clr-dg-cell>{{customer.description }}</clr-dg-cell>
        <!-- <clr-dg-cell>
        <span class="color-square" [style.backgroundColor]="user.color">{{user.color}}</span>
      </clr-dg-cell> -->
    </clr-dg-row>

    <!-- <ng-template clrIfDetail let-detail (clrIfDetailChange)="onDetailOpen($event)"> NOT WORKING: (clrIfDetailChange)="onDetailOpen($event) -->
        <clr-dg-detail *clrIfDetail="let detail" (clrIfDetailChange)="onDetailOpen($event)">
            <clr-dg-detail-header>{{detail.name}}</clr-dg-detail-header>
            <app-general-editor [value]="detail" (save)="onSave($event)" [formDef]="formDef"></app-general-editor>
            <br />
            <app-user-defined-form-data-display [data]="detail" [formDef]="formDef"
                [nestedDisplayField]="nestedDisplayField"></app-user-defined-form-data-display>

            <h3>Contacts</h3> <button (click)="onDetailOpen(detail)">Load</button>  <!-- remove load button when the change event works-->
            <!-- Contact Grid -->
            <clr-datagrid *ngIf="contacts">
                <clr-dg-column [clrDgField]="'id'">Contact ID</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
                <clr-dg-column [clrDgField]="'description'">description</clr-dg-column>
                <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
                <clr-dg-column [clrDgField]="'primaryPhone'">Primary Phone</clr-dg-column>
                <clr-dg-column [clrDgField]="'mobile'">Mobile</clr-dg-column>

                <clr-dg-row *clrDgItems="let contact of contacts">
                  <clr-dg-cell>{{contact.id}}</clr-dg-cell>
                  <clr-dg-cell>{{contact.name}}</clr-dg-cell>
                  <clr-dg-cell>{{contact.description}}</clr-dg-cell>
                  <clr-dg-cell>{{contact.email}}</clr-dg-cell>
                  <clr-dg-cell>{{contact.primaryPhone}}</clr-dg-cell>
                  <clr-dg-cell>{{contact.mobile}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{contacts.length}} contacts</clr-dg-footer>
              </clr-datagrid>


              <!-- <table *ngIf="contacts" class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Email</th>
                    <th>Phone</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contact of contacts">
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.description }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.primaryPhone }}</td>
                  </tr>
                </tbody>
              </table> -->

        </clr-dg-detail>
    <!-- </ng-template> -->

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="2" [clrDgTotalItems]="gridHandler.total">
            <clr-dg-page-size [clrPageSizeOptions]="[1,2,5,10]">Customers per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>



<!--  Add Modal -->
<clr-modal [(clrModalOpen)]="addModalIsOpen">
    <h3 class="modal-title">Add Customer</h3>
    <div class="modal-body">
        <app-general-editor #cusEditor [formDef]="formDef" [hideSave]="true"></app-general-editor>
        <h3>Default Contact:</h3>
        <app-general-editor #contactEditor [formDef]="contactFormDef" [hideSave]="true"></app-general-editor>
        <button (click)="addCustomer(cusEditor.getValue(), contactEditor.getValue())">Get Value</button>
    </div>
</clr-modal>

