<clr-wizard #wizard [(clrWizardOpen)]="open" (clrWizardOpenChange)="reset($event)">
    <clr-wizard-title>
        <h3>Add Line Item</h3>
        Quant. {{ _form.controls.quantity.value }}
        <br />
        Price: {{ calculatePrice() | currency}}
        <br />
        <button (click)="dumpForm()">Dump</button>
    </clr-wizard-title>

    <clr-wizard-button [type]="'cancel'" (clrWizardButtonClicked)="onClose()">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" (clrWizardButtonClicked)="onClose()">Done</clr-wizard-button>

    <clr-wizard-page #pageOne
        [clrWizardPageNextDisabled]="!_form.controls.quantity.value || !_form.controls.recipe.value">
        <ng-template clrPageTitle>Basic Information</ng-template>
        <ng-template clrPageNavTitle>{{ pageOneTitle }}</ng-template>

        <form clrForm clrLayout="horizontal" #formPageOne="ngForm" [formGroup]="_form">
            <clr-input-container>
                <label>Quantity</label>
                <input clrInput type="number" name="quant" required formControlName="quantity" />
                <clr-control-error>This field cannot be empty!</clr-control-error>
            </clr-input-container>

            <clr-select-container *ngIf="recipes">
                <label>Recipe</label>
                <select clrSelect name="recipe" formControlName="recipe">
                    <option *ngFor="let recipe of recipes" [value]="recipe.id">
                        <!-- TODO: the value should just be the recipe, but it comes out as [object Object]-->
                        {{recipe.name}}
                    </option>
                </select>
            </clr-select-container>
        </form>
    </clr-wizard-page>

    <clr-wizard-page #pageTwo (clrWizardPageOnLoad)="loadMaterialSelectionPage()">
        <ng-template clrPageTitle>Color</ng-template>
        <ng-template clrPageNavTitle>{{ pageTwoTitle }}</ng-template>
        <form #formPageTwo="ngForm" *ngIf="materialsLoaded"  [formGroup]="_form">
            <ng-container formArrayName="materialSelections">
                <ng-container *ngFor="let material of _form.controls.recipeObj.value.materials.items; let i = index">
                    <!-- <clr-select-container>
                        <label>{{ material.material }}</label>
                        <select clrSelect name="recipe" [FormControlName]="i">
                            <option *ngFor="let m of materialDropDowns[material.material]" [value]="'' + m.id">
                                {{m.name}}
                            </option>
                        </select>
                    </clr-select-container> -->

                    <!-- The difference between how the select and datalist work has to do with how the value is represented somehow, string vs number ... -->

                    <clr-datalist-container>
                        <label>{{ material.material }}</label>
                        <input clrDatalistInput [formControlName]="i" placeholder="No label" name="recipe" />
                        <datalist>
                            <option *ngFor="let m of materialDropDowns[material.material]" [value]="m.id">
                                {{m.name}}
                            </option>
                        </datalist>
                    </clr-datalist-container>
                </ng-container>
            </ng-container>

        </form>
    </clr-wizard-page>

    <clr-wizard-page #pageThree [clrWizardPageNextDisabled]="!true"
        (clrWizardPageOnLoad)="loadMaterialDetailSelectionPage()">
        <ng-template clrPageTitle>Power</ng-template>
        <ng-template clrPageNavTitle>{{ pageThreeTitle }}</ng-template>

        <!-- <form #formPageTwo="ngForm">
        <section class="form-block">
          <label>Your pok&egrave;mon {{ textsplanationOfPower }}.</label>
          <div class="clr-row wizdemo-color-block-row">
            <div *ngFor="let icon of powerSources" class="wizdemo-color-block-wrapper clr-col-3">
              <div
                class="wizdemo-color-block is-icon"
                [class.active]="icon === model.power"
                [class.disabled]="icon === model.weakness"
                (click)="setPower(icon)"
              >
                <cds-icon [attr.shape]="icon"></cds-icon>
              </div>
            </div>
          </div>
        </section>
      </form> -->
        <ng-container *ngIf="recipeFormDefList">
            <form [formGroup]="materialForm">
                <ng-container *ngFor="let recipeFormDef of recipeFormDefList; let i = index">
                    <h3>{{ recipeFormDef.key }}</h3>
                    <app-user-defined-form-viewer [formDef]="recipeFormDef" [formControlName]="recipeFormDef.key">
                    </app-user-defined-form-viewer>
                </ng-container>
            </form>
        </ng-container>

    </clr-wizard-page>
</clr-wizard>
