<div>
    <div style="height:200px;overflow-y: scroll;overflow-x: hidden;">
        <form *ngIf="_form && itemsArray" [formGroup]="_form">
            <div formArrayName="items">
                <div class="array" *ngFor="let item of itemsArray.controls; let i = index;">
                    <app-list-item-modal-container>

                        <div class="list-item" list-item  fxLayout="row" fxLayoutAlign="space-between center" >
                            <ng-template *ngIf="templateRef"
                                [ngTemplateOutlet]="templateRef"
                                [ngTemplateOutletContext]="{ $implicit: item }"
                            >
                            </ng-template>
                            <ng-container *ngIf="!templateRef">
                                <div  fxLayout="column" fxLayoutAlign="space-between start">
                                    <div class="key-display">{{ item?.value[objectKeys(item?.value)[0]] || ' ' }}</div>
                                    <div class="type-display">{{ item?.value[objectKeys(item?.value)[1]] || ' ' }}</div>
                                </div>
                                <div class="icon">
                                </div>
                                <clr-tooltip>
                                    <cds-icon *ngIf="!item.valid" status="danger" size="lg" solid shape="error-standard" clrTooltipTrigger (click)="alertErrors(item)"></cds-icon>
                                    <span class="tooltip-content">{{ item.valid }} - {{ item.invalid }} - {{ item.errors }}</span>
                                </clr-tooltip>
                            </ng-container>
                        </div>

                        <div modal-body>
                            <app-user-defined-form-viewer *ngIf="innerForm" [formDef]="innerForm" [formControlName]="i" [templates]="templates"></app-user-defined-form-viewer>
                        </div>

                    </app-list-item-modal-container>
                </div>
            </div>
        </form>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" >
        <!-- <button (click)="print()">Print</button> -->
        <button (click)="add()" type="button" class="btn btn-icon btn-success" aria-label="done">
            <cds-icon shape="plus"></cds-icon>
        </button>
    </div>
</div>
