
<div class="card">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <clr-input-container>
            <input #fieldRow clrInput placeholder="row" name="row" [(ngModel)]="rowField" (keydown.enter)="addRow(fieldRow.value)"/>
        </clr-input-container>
        <button (click)="addRow(fieldRow.value)" type="button" class="btn btn-icon btn-primary" title="Add row"
            aria-label="add row">
            <cds-icon shape="plus"></cds-icon>
        </button>

        <clr-input-container>
            <input #fieldCol clrInput placeholder="col" name="col" [(ngModel)]="colField"  (keydown.enter)="addColumn(fieldCol.value)"/>
        </clr-input-container>
        <button (click)="addColumn(fieldCol.value)" type="button" class="btn btn-icon btn-primary" title="Add Col"
            aria-label="add Col">
            <cds-icon shape="plus"></cds-icon>
        </button>
    </div>

    <!--  *ngIf="this._values?.length" -->
    <form class="clr-form clr-form-compact">
        <table>
            <tr>
                <th></th>
                <th *ngFor="let col of _cols.controls; let i = index">
                    {{ col.value }}
                </th>
            </tr>

            <tr *ngFor="let row of _rows.controls; let i = index">
                <td>{{ row.value }}</td>
                <td *ngFor="let col of _cols.controls; let j = index">
                    <!-- <input clrInput layout="compact" [placeholder]="i" name="row" type="number" [value]="j"/> -->
                    {{ (_values.controls[i] && _values.controls[i].controls[j] && _values.controls[i].controls[j].value[displayField]) || '-' }}
                    <!-- [value here] -->
                    <button type="button" class="btn btn-icon" aria-label="home" (click)="openModal(i, j)">
                        <cds-icon shape="pencil"></cds-icon>
                    </button>
                </td>
            </tr>
        </table>
    </form>

    <button (click)="getValue()" type="button" class="btn btn-icon btn-primary" title="Add row"
        aria-label="add row">
        <cds-icon shape="plus"></cds-icon>
    </button>
    <br/>
    {{_values.value|json}}

</div>



<clr-modal [(clrModalOpen)]="showModal" [clrModalClosable]="false">
    <h3 class="modal-title">
        {{_rows?.controls[modalTargetRow]?.value}}/{{_cols?.controls[modalTargetCol]?.value}}
    </h3>
    <div class="modal-body">

        <!-- <ng-container *ngFor="let row of _rows.controls; let i = index">
            <ng-container *ngFor="let col of _cols.controls; let j = index">
                {{i}}/{{j}}
                <app-user-defined-form-viewer *ngIf="_values && _values.controls[modalTargetRow] && $any(_values.controls[modalTargetRow]).controls[modalTargetCol] && modalTargetRow === i && modalTargetCol === j"
                    [formControl]="_values.controls[modalTargetRow].controls[modalTargetRow]"
                    [formDef]="formDef">
                </app-user-defined-form-viewer>
            </ng-container>
        </ng-container> -->

        <!-- *ngIf="_values && _values.controls[modalTargetRow] && $any(_values.controls[modalTargetRow]).controls[modalTargetCol]" -->
        <app-user-defined-form-viewer
            [(ngModel)]="tempFormValue"
            [formDef]="formDef"></app-user-defined-form-viewer>
        <div *ngIf="!(_values && _values.controls[modalTargetRow] && $any(_values.controls[modalTargetRow]).controls[modalTargetCol])">
            values: {{_values.value|json}}
            <br/>
            modalTargetRow: {{modalTargetRow}}
            <br/>
            modalTargetCol: {{modalTargetCol}}
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="closeModal(true)">Ok</button>
    </div>
</clr-modal>
